html {
    overflow-x: hidden;
    font-size: 150%;
    background: url("./Images/SpacePNGTREE.svg") center center cover no-repeat fixed;
}

body {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

.topnav {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    background-color: rgb(39, 39, 39);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 120%;
    border-radius: 6px;
}

.topnav a:hover {
    background-color: rgb(99, 99, 99);
    color: black;
    transition: 0.5s;
}

.topnav a.active {
    background-color: rgb(153, 15, 153);
}

.CalcText {
    color: azure;
    background-color: rgb(71, 71, 71);
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100%;
}

/* .container-fluid {
    background-image: url("./Images/SpacePNGTREE.svg");
    margin: -10;
} */

button {
    font-size: 100%;
}
input
{
    font-size: 100%;
}

.btn-add-input {
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: aquamarine;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.btn-add-input:hover {
    background-color: rgb(77, 205, 162);
    transition: 0.2s;
}

.btn-del-input {
    margin-left: 5px;
    background-color: deeppink;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.btn-del-input:hover {
    background-color: rgb(205, 0, 97);
    transition: 0.2s;
}

.btn-submit {
    margin-left: 5px;
    background-color: rgb(64, 169, 64);
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.btn-submit:hover {
    background-color: rgb(14, 99, 14);
    transition: 0.2s;
}

.InfoList {
    border: 1px solid rgba(0, 0, 0, 0);
}

.AllClassTextBox {
    background-color: rgb(41, 41, 41);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 1.8;
}

#GPACalculator input {
    box-sizing: border-box;
    background-color: #a9a9a9;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.accordion {
    background-color: #222222;
    color: #eeeeee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 130%;
    transition:0.25s;
}

.ACCactive,
accordion:hover {
    background-color: #818181;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.ACCactive:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: rgb(41, 41, 41);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.HomeText {
    text-align: center;
    backdrop-filter: blur(16px) saturate(70%);
    border-radius: 10px;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100%;
}

h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

pre {
    overflow-x: auto;
}